/** {
    border: 1px solid red !important;
}*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
    padding: 20px;
}

.col-3 {
    width: 25%;
    padding: 20px;
}

.col-4 {
    width: 33.33%;
    padding: 20px;
}

.col-5 {
    width: 41.66%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.col-6 {
    width: 50%;
    padding: 20px 0;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

body {
    font: 1em Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #7DCDCD;
    /*background-color: #DCDDDE;*/
    /*background-color: #CDD0D1; */
}

h1 {
	font: 400 2.5em Montserrat, sans-serif;
	/*color: #707273;*/
    color: #4F5152;
}

h2 {
  font: 400 1.2em Montserrat, sans-serif;
  margin-left: 20px;
  color: #4F5152;
}

#rating {
  font-weight: 700;
}

a, p {
  text-decoration: none;
  color: #4F5152;
  margin: 20px;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 10px;

}

.style {
	  border: 5px solid #4F5152;
    border-radius: 7px;
    margin-bottom: 20px;
    background-color: #EDEDED;
    /*#DBD4CE;*/
    
    /*background-color: #E8E8E8;*/
}

#styleSelect {
    background-color: #EDEDED;
    font: 1em Arial, sans-serif;
    margin-left: 10px;
    padding-left: 0;
    color: #4F5152;
    width: 85%;
}

#mission {
	/*color: #7dcdcd;*/
    font-style: 700;
}
#header {
	padding-top: 20px;
	justify-content: left;

}

#list-view {
    height: 710px;
}

#map {
    height: 700px;
    width: 100%;
    margin: 0;  
    justify-content: center;
    flex-grow: 1;
}

#text {
    height: auto;
    width: 100%;
    flex-grow: 1;
}

#flickr-gallery {
	width: 100%;
  display: block;
}

.responsive-image {
  max-width: 100%;
  vertical-align: bottom;
}
