@import url(http://weloveiconfonts.com/api/?family=entypo);
/* entypo */

[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.row {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
    padding: 20px;
}
.col-3 {
    width: 25%;
    padding: 20px;
    margin: 0 auto;
}
.col-4 {
    width: 33.33%;
    padding: 20px;
    margin: 0 auto;
}
.col-5 {
    width: 41.66%;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 0 auto;
}
.col-6 {
    width: 50%;
    padding: 20px 0;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

body {
    font: 1em Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #7DCDCD;
}
h1 {
    font: 400 2.5em Montserrat, sans-serif;
    text-align: center;
    color: #4F5152;
    margin-top: 40px;
    margin-bottom: 10px;
}
h2 {
    font: 400 1.2em Montserrat, sans-serif;
    text-align: center;
    color: #4F5152;
    margin-top: 0;
    margin-bottom: 20px;
}
h3 {
    font: 400 1.2em Montserrat, sans-serif;
    margin-left: 10px;
    color: #4F5152;
}
h4 {
    font: 600 1em Arial, sans-serif;
    margin-left: 10px;
    color: #4F5152;
}
.bolded {
    font-weight: 700;
}
a,
p {
    text-decoration: none;
    color: #4F5152;
    margin: 10px;
    word-wrap: break-word;
}
ul {
    padding: 0;
    list-style-type: none;
    margin: 10px;
    margin-left: 0;
}
.style {
    border: 5px solid #4F5152;
    border-radius: 7px;
    margin-bottom: 20px;
    background-color: #EDEDED;
}
#styleSelect {
    background-color: #EDEDED;
    font: 1em Arial, sans-serif;
    margin-left: 0px;
    padding-left: 0;
    color: #4F5152;
    width: 90%;
}
#mission {
    font-style: 700;
}
#header {
    padding-top: 20px;
    justify-content: left;
}
#map {
    height: 600px;
    width: 100%;
    margin: 0;
    justify-content: center;
    flex-grow: 1;
}
#flickr-gallery {
    width: 100%;
    display: block;
}
#foursquare-attribution {
    font-weight: 600;
    text-align: right;
}
.responsive-image {
    max-width: 100%;
    vertical-align: bottom;
}

.nav {
    width: 100%;
    display: none;
    position: relative;
    z-index: 3;
    background-color: #7DCDCD;
}

.nav-menu {
    display: none;
    position: absolute;
    width: 250px;
    z-index: 2;
    margin-bottom: 20px;
    background-color: #7DCDCD;
    border: 2px solid #7DCDCD;
    border-top: 0;
    border-radius: 7px;
}

#navSelect {

    background-color: #7DCDCD;
    font: 1em Arial, sans-serif;
    margin-left: 0px;
    padding-left: 0;
    color: #4F5152;
    width: 90%;
}

@media (min-width: 0px) and (max-width: 500px) {
    body,
    #styleSelect {
        font-size: .9em;
    }
    h1 {
        font-size: 1.5em;
        margin-top: 20px;
        margin: 20px;
    }
    h2 {
        font: 600 1em Arial, sans-serif;
    }
    .row {
        flex-direction: column;
    }
    .col-3 {
        display: none;
    }
    .col-4 {
        width: 80%;
        padding: 0;
    }
    .col-5 {
        width: 80%;
    }
    #map {
        height: 500px;
    }
    .nav, .nav-menu {
        display: block;
    }
    .entypo-menu {
        color: #4F5152;
        font-size: 35px;
        margin-left: 10px;
    }
}
@media (min-width: 501px) and (max-width: 949px) {
    body,
    #styleSelect {
        font-size: .7em;
    }
    h1 {
        font-size: 2.25em;
        margin-left: 10px;
    }
    h2,
    h3,
    a {
        margin-left: 10px;
    }
    p {
        margin: 10px;
        text-align: left;
    }
    ul,
    #styleSelect {
        margin: 0;
    }
}